*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.body{
    background-color:#E7EBE0FF;
}

.navbar{
    height: 20vh;
    width: 100%;
    border-bottom: 2px solid green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #7DB46CFF;
    color:#E7EBE0FF;
}

.navbar h1{
    margin-left: 10px;
}

.dropdownBtn{
    display: flex;
    position: fixed;
    bottom: 10%;
    right: 5%;
}

.todo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 15px;
    display: none;
}

.todo a{
    padding: 1px;
    color: black;
    transition: 0.3s;
}

.todo a:hover{
    color:#FCF6F5FF;
    background-color:#2BAE66FF;
}

.addBook{
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: white;
    background-color: #07df0c;
    border: none;
    border-radius: 50%;
    outline: none;
    font-size: large;
    font-weight: bold;
    -webkit-box-shadow: 1px 12px 23px -7px rgba(0,0,0,0.71); 
    box-shadow: 1px 12px 23px -7px rgba(0,0,0,0.71);
}

.dropdownBtn:hover .todo{
    display: flex;
}

.modalBook{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    height: 250px;
    max-width:80%;
}

.modal-header{
    padding: 15px 16px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid black;
}

.modal-header button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    flex: 1;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: repeat(5,1fr);
    grid-template-areas: "titleL titleI titleI ."
                         "authorL authorI authorI ."
                         "pageL pageI pageI ."
                         "readL readI . ."
                         ". . submit .";
}

.modal-body label{
    justify-self: start;
    align-self: center;
}

.modal-body input[type=text],input[type=number]{
    height: 70%;
    justify-self: start;
    align-self: center;
    border: 3px solid #A2A2A1FF;
    transition: 0.3s;
    outline: none;
}

.modal-body input[type=text]:focus,input[type=number]:focus{
    border: 3px solid lightgreen;
}

#bookTitleLabel{
    grid-area: titleL ;
    
}

#bookTitle{
    grid-area: titleI;
}

#bookAuthorLabel{
    grid-area: authorL;
}

#bookAuthor{
    grid-area: authorI;
}

#pageLabel{
    grid-area: pageL;
}

#page{
    grid-area: pageI;
}

#readLabel{
    grid-area: readL;
}

#bookRead{
    grid-area: readI;
    justify-self: start;
    align-self: center;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#submitbtn{
    grid-area: submit;
    padding: 5px 5px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: grey;
    transition: 0.3s;
}

#submitbtn:hover{
    background-color: rgb(23, 199, 23);
}
